@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

@font-face {
    font-family: 'PrincipalFont';
    src: url('../Fonts/AndersonGrotesk.otf') format('opentype');
}

@font-face {
    font-family: 'GentleMonster';
    /* Asigna un nombre a la fuente */
    src: url('../Fonts/gentlemonster-condensed.ttf') format('truetype');
    /* Ruta relativa a la carpeta de fuentes */
    /* Puedes agregar otros atributos opcionales como font-weight y font-style si la fuente los incluye */
}

html {
    font-size: 16px;
    font-family: 'PrincipalFont', sans-serif;
}

::-webkit-scrollbar {
    width: 0.2em;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: black;
}

body {
    background-color: #090909;
    background-image: url('../Assets/Background/Level_0.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;
    
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -2;
    /* Para colocar el video detrás del contenido */
    filter: blur(0px);
}

.Grid-Container {
    display: flex;
    gap: 5rem;
    padding: 5rem;
    max-width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

.Container-AddBtn-SetCard {
    min-width: 25rem;
    max-width: 90vw;
}

.Set-Grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    overflow: auto;
    height: 80vh;
    margin-top: 1rem;
    border-radius: 5px; 
}

.Add-New-Set-Element {
    font-family: 'GentleMonster'; 
    background-color: #1A1A1A;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem ;
    align-items: center;
}

.Add-New-Set-Element:hover {
    opacity: 0.5;
}
.Add-New-Set-Element img{
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(1);
}

.Set-Card {
    font-family: sans-serif;
    font-size: 2rem;
    background-color: #1A1A1A;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: fit-content;  
}

.Set-Card .Header {
    display: flex;
    justify-content: space-between;
}

.Set-Card .Header .Set-Name {
    transform: scale(0.5);
    opacity: 0;
}

.Div-para-CloseBtn {
    display: grid;
    grid-template-columns: auto 1fr;
    font-family: sans-serif;
    font-size: 2rem;
    background-color: #1A1A1A;
    color: white;
    border-radius: 5px;
    padding: 1rem;
    height: 100%;
    height: 10rem;
}

.even {
    background-color: #DC2A5F;
}

.odd {
    background-color: #08d09f;
}

.Close-Button {
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
    filter: invert(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    align-self: self-end;
}

.Close-Button:hover {
    opacity: 0.5;
}

.Close-Button img {
    width: 35%;
    height: 35%;
}

.Grid-Set-Data {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.Set-Name {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Number-Set {
    font-size: 1rem;
    background-color: white;
    color: black;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
}

.Cardinality {
    display: flex;
    font-family: 'GentleMonster';
    font-size: 0.8rem;
}

.Textbox {
    height: 2rem;
    width: fit-content;
    border: 0.1rem solid white;
    border-radius: 50px;
    padding: 0rem 1rem;
    background-color: transparent;
    color: white;
    align-self: end;
}

.Textbox:focus {
    outline: none;
}

.Set-Data {
    margin-left: 1rem;
    font-size: 1rem;
    overflow: auto;
}

.Set-Data img {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.5rem;
    filter: invert(100%);
    padding: 0.25rem;
    cursor: pointer;
}

.Set-Data img:hover {
    border-radius: 100%;
    background-color: white;
    filter: none;
}

.Set-Data img:hover+span {
    text-decoration: line-through;
}

.Results-Grid {
    backdrop-filter: blur(10px);
    background-color: rgba(26, 26, 26, 0.7); 
    color: white;
    opacity: 0.8;
    line-height: 1.5;
    /* Espacio entre renglones */
    overflow: auto;
    max-width: 35rem;
    width: 30rem;
    min-width: 25rem;
    padding: 3rem;
    max-height: 80vh;
    border-radius: 5px;
    max-width: 90vw;
}

.Operation-Title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.Results-Grid .Number-Set {
    backdrop-filter: blur(10px);
    border: rgba(26, 26, 26, 1)  3px solid;
 
}

.Results-Grid .Number-Set:first-of-type {
    position: relative;
}

.Results-Grid .Number-Set:nth-of-type(2) {
    left: -10px;
    z-index: -1;
    position: relative;
}
.Results-Grid .Number-Set:nth-of-type(3) {
    left: -18px;
    z-index: -2;
    position: relative;
    background-color: #090909;
    color: white;
    border: white 1px solid;
    font-size: 0.6rem;
}

.Results-Values {
    margin-left: 1rem;
    margin-bottom: 1rem;

}

.Container {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 0;
    margin: 1rem;
    max-width: 90vw;
}

.Grid-Operations {
    background-color: #1A1A1A;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    width: fit-content;
    border-radius: 5px;
}

.Symbol-Operator {
    padding: 1rem;
    background-color: black;
    width: 1rem;
    height: 1rem;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 5px;
    transform: scale(0.9);
    color: white;
    cursor: pointer;
}

.Symbol-Operator:hover {
    opacity: 0.5;
}
@media screen and (max-width: 768px) {
    body {
      width: 100vw;   
      margin-bottom: 5rem; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
      padding-left: 1rem;
      }
      .Grid-Container {
        max-width: 90vw; 
      }
      .Set-Grid { 
        align-items: center;
        justify-items: center;
    }
    
.Set-Card { 
    width: 90vw;
    max-width: 90vw; 
}
.Container {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 0;
    margin: 1rem;
    max-width: 90vw;
    margin-bottom: 2.5rem;
}

    }