#ContenedorOperaciones{
    display: none;
    grid-template-columns: auto 1fr;
    flex-direction: row-reverse;
    background: transparent;
    height:fill;
    width:100vw ;
    gap: 4rem;
    padding: 0rem 3rem;
    opacity: 0;
    transition: opacity 2.0s ease-in-out;
    position: relative;
    top: 0;
    left: 0;
   }

.Resultados-Column-Right{           /* Columna DERECHA */
    max-width: 310px;
    height: fit-content;
    position: fixed; /* Posición fija */
    top: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    margin: 0rem 3rem; 
    background-color: transparent;   
}
.Resultados-Filter{
    background-color: transparent;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 1rem;
    align-self: end;
    justify-content: flex-end;
    margin-top: 12rem;
}
.Showing-now{
    color: white;
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 1rem;
    height: auto;
    display: flex;
    justify-content: flex-end;

}
.Element{
    border: 0.1rem solid white;
    color: white;
    padding: 0.5rem 1rem;
    width: fit-content;
    border-radius: 10rem;
    font-size: 0.7rem;
    cursor: pointer;
}
.Element:hover{
    background-color: white;
    color: black;
    opacity: 0.6;
}
.unicode-character {
    letter-spacing: 5px; /* Ajusta el valor según tu preferencia */
  }
.Resultados-Help-Text{
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    backdrop-filter: blur(10px);
    background-color: #262626;
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}
#dialogo-especifico{
    display: none;
}
#dialogo-audio{
    display: none;
    background-color: #262626;
    z-index: 43;
    gap: 1rem;
}
.Text-Container{
    width: 100%; 
}

.Resultados-Column-Left{             /* Columna IZQUIERDA */
    max-width: 80%;
}
.Resultados-Grid-Superior{
    display: grid;
    /* grid-template-columns:  1fr auto ; */
    border-radius: 10px;
    overflow: hidden;
    min-width: fit-content;
    font-size: 3rem;
    padding: 0 2rem;
    color: white;
    height: 10rem;
}
.Resultados-Grid-Inferior{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}
.Resultados-Grid-Inferior-FILTRO{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}
.Tarjeta{
    font-size: 0.8rem;
    background-color: #222B3D; /* Fallback color */
    color: #F1F1F1;
    min-height: 15rem;
    max-height: 25rem;
    max-width: fit-content;
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    padding: 1rem ;
    padding-left: 1.5rem;
    overflow-y: hidden;
    overflow-x:hidden; 
    border-radius: 10px;
}

.hidden{
    display: none;
}

.active{
    background-color: white;
    color: black;
    opacity: 1;
}

.Tarjeta-Header{
    display: grid;
    grid-template-columns: auto  1fr 1.5rem;
    gap: 1rem;
}
  .Symbol-Operator{
    padding: 1rem;
    background-color: black;
    width: 1rem;
    height: 1rem;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 100%;
    transform: scale(0.9);
  }
  .Symbol-Operator.Second-Style{
    font-size: 1rem;
  }
  .Texto-NombreOperacion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    justify-content:flex-start ;
    }
    .Texto-NombreOperacion.Second-Style{
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding-left: 4rem;
        }
    .Name-Operator {
        border-radius: 5px;
        color: white;
        opacity: 0.5;
        font-size: 0.7;
    }
    .Info-icon{
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
    }
    .Info-icon img{
    flex-shrink: 0;
    filter: invert(100%);
    width: 1.2rem;
    height: 1.2rem;
    opacity: 0.2;
    justify-self: end;
    align-self: flex-start;
    }
    .Info-icon img:hover{
        opacity: 0.85;
    }
.OutputCard.Result{  
    display: inline-block;
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 1rem;
    padding: 1rem;
    background-color: transparent;
    color: #F1F1F1;
    text-align: left;
    font-size: 1.5rem;
    width: 100%;
    
}
#Diferencia .OutputCard.Result{  
    min-height: 4rem;
}
.Tarjeta-Footer{
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem;

}
.img-container{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 5px;
    cursor: pointer;
}
.img-container:hover{
    background-color: #F1F1F1;
}
.copy-button {
    flex-shrink: 0;
    filter: invert(100%);
    width: auto;
    height: 70%;
}
.img-container:hover .copy-button {
    filter: none;

  }
  
.copy-text {
    display: none;
  }
  .copy-text.show {
    display: inline-block;
  } 
  .copied-text {
    display: none;
  }
  .copied-text.show {
    display: inline-block;
  }
  


/* Estilos para dispositivos celulares */
@media (max-width: 768px) {
    #ContenedorOperaciones{
        padding: 0rem ; 
       }
    .Resultados-Column-Right{           /* Columna DERECHA */
        margin: 1rem 1rem; 
       width: 100px; 
    }
    .Expand-icon{
        font-size: 2.5rem;
      }
      .Showing-now{
        color: white;
        padding: 0.5rem 1rem;
        width: 100%;
        font-size: 1rem;
        height: auto;
        display: flex;
        justify-content: flex-end; 
        text-align: end;
    
    }
      .Resultados-Filter{ 
        width: 100px;
        position: absolute;
        right: 0; 

        
    }
      .Element{ 
        padding: 0.25rem 0.5rem;  
        font-size: 0.4rem; 
      }
    
    .Resultados-Column-Left{             /* Columna IZQUIERDA */
        width: 70vw; 

    }
    .Resultados-Grid-Superior{
 
        padding: 0 1rem; 
    }
    .Resultados-Grid-Inferior{
        width: auto;
        padding:1rem;
    } 
    .Tarjeta{                       
        min-height: 15rem;
        max-width: fit-content;
        min-width: 100%;
    }
    .Resultados-Help-Text{
        font-size: 0.7rem;
        width: 150px;
    }
     .Texto-NombreOperacion{
        font-size: 0.7rem;
     }
    
  

  }

  .Background-Blur{
    backdrop-filter: blur(2px); /* Ajusta el valor del desenfoque según tus necesidades */
    background-color: rgba(255, 255, 255, 0); /* Ajusta el valor de la opacidad según tus necesidades */
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    transform: translateY(-2rem);
    display: none;
  }
  .Background-Blur img{
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 3rem;
    filter: invert(100%);
    cursor: pointer;
  }
  /* ReDo */
  #ReDo-Button-Div{
    background-color: transparent;
    width: 100%;
    height: fit-content;
    display: grid;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 3;
    margin-bottom: 5vh;
  }
.ReDo-Button{ 
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 7rem; 
    padding: 0.5rem;
    border-radius: 50px;
    cursor: pointer; 
    font-family: 'GentleMonster';
  }

  .ReDo-Button img{
   filter: invert(0);
   transform: scale(0.6);
   position: relative; 
   margin-right: 0.5rem;
   margin-left: 0rem;
  }
  /* Define la animación */
@keyframes rotateAnimation {
    from {
      transform: rotate(0deg) scale(0.6);
    }
    to {
      transform: rotate(360deg) scale(0.6);
    }
  }
  
  /* Aplica la animación al elemento img dentro de .ReDo-Button:hover */
  .ReDo-Button:hover img {
    animation: rotateAnimation 2s linear infinite; /* Ajusta la duración, timing function y dirección de la animación según tus preferencias */
  }
  
  