
#ContenedorSets video {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  transition: opacity 0.5s ease;
}

.Tarjeta video{
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;

  background-color: #222B3D;
}

#Producto-AXB{
  width: 3rem;
  height: 2rem;
}

#Audio-Container{
  position: relative;
  z-index: 43;
  background-color: #262626;
  overflow: hidden;
  width: 2.5rem;
  height: 1.25rem;
  transform: scale(1);
  top: 0;
  left: 0;
}
#Audio-Container img{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 44;
}
#Audio-Canvas{ 
  height: 100%;
  width: 100%;
  background-color: #262626;
  filter: blur(2px);
}
#Audio-clip{
  
}